/*!
Alpaca Version 1.0.7

Copyright 2013 Gitana Software, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); 
you may not use this file except in compliance with the License. 

You may obtain a copy of the License at 
	http://www.apache.org/licenses/LICENSE-2.0 

Unless required by applicable law or agreed to in writing, software 
distributed under the License is distributed on an "AS IS" BASIS, 
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
See the License for the specific language governing permissions and 
limitations under the License. 

For more information, please contact Gitana Software, Inc. at this
address:

  info@gitanasoftware.com
*/

.alpaca-controlfield-helper-text
{
    vertical-align: bottom;
    padding-left: 4px;
}

.alpaca-controlfield-phone input
{
    background: none;
}

.alpaca-controlfield-email input
{
    background: none;
}

.alpaca-controlfield-time input
{
    background: none;
}

.alpaca-controlfield-date input
{
    background: none;
}

.alpaca-fieldset-array-toolbar-add
{
    margin-top: 10px;
}

.alpaca-fieldset-array-toolbar-icon span
{
    margin-left: 4px;
    vertical-align: middle;
}